.container {
  min-height: 40vh;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    padding: 0rem 0.75rem;
  }
  .skills {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto;
      align-self: center;

      padding: 0px;
      height: 100%;
      li {
        list-style: none;
        font-size: 1.5rem;
      }
    }
  }
}
