<app-navbar></app-navbar>
<app-blob appScroll></app-blob>
<main>
  <div class="header">
    <h2>Software developer</h2>
    <p>
      {{ calculateYearsPassed() }}{{"home.text" | translate}}
    </p>
    <div class="links">
      <a (click)="scrollTo(about)" class="col-12 col-sm-6">
        {{"home.buttons.about" | translate}}
      </a>
      <a (click)="scrollTo(projects)" class="col-12 col-sm-6">
        {{"home.buttons.projects" | translate}}
      </a>
    </div>
    </div>
    <div class="image-container">
      <!-- <img src="" alt="" width="100px"> -->
    </div>

</main>

<div #about>
  <app-about></app-about>
</div>

<div #projects>
  <app-projects></app-projects>
</div>

<app-footer></app-footer>
