 <app-navbar (scroll)="scrollTo($event)"></app-navbar> 

<main>
  <div class="header">
    <h1>Hi<span class="primary font-special">!</span> I'm <span class="primary font-special">Justin.</span></h1>
    <div class="subsection">
      <p>
        {{"home.text" | translate: {age: calculateYearsPassed()} }}
      </p>
      <p>
        {{"about.personal.text" | translate}}
      </p>

      <div class="links">
        <a href="https://github.com/JustinBottinga" target="_blank"
        ><i class="bi bi-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/justin-bottinga-a6588421b/"
        target="_blank"
        ><i class="bi bi-linkedin"></i>
      </a>
      </div>
    </div>
  </div>

</main>
<!-- 


    </div>
    <div class="image-container">
      <img src="" alt="" width="100px">
    </div>
    
    -->
<!-- (click)="scrollTo(about)" (click)="scrollTo(projects)" -->

<div #projects>
  <app-projects></app-projects>
</div>

<div #about>
  <app-about></app-about>
</div>

 

  <app-footer></app-footer>
