<div class="container">
  <h3 class="">Projects:</h3>
  <div id="projects-grid">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">WeMind Balance</h3>
        <p class="card-text">
          Contributed to <a href="https://moovd.nl/en">Moovd's</a> WeMind
          Balance App during my internship there
        </p>
        <a
          id="project-link"
          href="https://apps.apple.com/nl/app/wemind-balance/id6443795997"
          target="_blank"
          >View project</a
        >
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">WeMind EMDR</h3>
        <p class="card-text">
          Contributed to <a href="https://moovd.nl/en">Moovd's</a> WeMind EMDR
          Web-App during my internship there
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Freelance</h3>
        <p class="card-text">
          Contributed to official Minecraft Marketplace project for
          <a
            href="https://www.linkedin.com/company/webaze-network/about/"
            alt="Link to webaze linkedin"
            title="See client"
            target="_blank"
            >Webaze Network</a
          >
        </p>
        <a id="project-link" href="mailto:info@webaze.nl" target="_blank"
          >Reference</a
        >
      </div>
    </div>
  </div>
</div>
