<main></main>

<div class="container">
  <h3 class="">Projects</h3>
  <div id="projects-grid">
    <div class="card">
      <div class="card-body">
        <div class="header">
          <h3 class="card-title">WeMind Balance</h3>
          <a
            id="project-link"
            href="https://apps.apple.com/nl/app/wemind-balance/id6443795997"
            target="_blank"
            ><i class="bi bi-box-arrow-up-right"></i
          ></a>
        </div>
        <p class="card-text">
          Contributed to <a href="https://moovd.nl/en">Moovd's</a> WeMind
          Balance App during internship
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="header">
          <h3 class="card-title">WeMind EMDR</h3>
          <a
            id="project-link"
            href="https://we-mind.app/auth/actor?lang=us"
            target="_blank"
            ><i class="bi bi-box-arrow-up-right"></i
          ></a>
        </div>
        <p class="card-text">
          Contributed to <a href="https://moovd.nl/en">Moovd's</a> WeMind EMDR
          Web-App during internship
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="header">
          <h3 class="card-title">Ultimate Security Craft</h3>
          <a
            id="project-link"
            href="https://www.minecraft.net/en-us/marketplace/pdp?id=2c654b66-b09f-45f4-a431-34bf91c27b59"
            title="view on marketplace"
            target="_blank"
            ><i class="bi bi-box-arrow-up-right"></i
          ></a>
        </div>
        <p class="card-text">
          Contributed to official Minecraft Marketplace project for
          <a
            href="https://www.linkedin.com/company/webaze-network/about/"
            alt="Link to webaze linkedin"
            title="See client"
            target="_blank"
            >Webaze Network</a
          >
        </p>
        <a
          id="project-link"
          href="mailto:info@webaze.nl"
          title="Reference to webaze"
          target="_blank"
          >Reference</a
        >
      </div>
    </div>
  </div>
</div>
