<main></main>

<div class="container">
  <div id="projects-grid">
    <div class="row">
      <h3 class="offset-md-2">Projects:</h3>
      <div class="col-12 col-md-4 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Wordle Clone</h3>
            <p class="card-text">Made with: HTML, CSS, JavaScript</p>
            <a id="project-link" href="" target="_blank">View project</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Weather App</h3>
            <p class="card-text">Made with: Angular 16</p>
            <a id="project-link" href="" target="_blank">View project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
