

.container {
  margin-top: 2rem;

  min-height: 40vh;

  #projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.5rem 1.5rem;

    .card {
      color: var(--text);
      margin-bottom: 2rem;
      background: linear-gradient(
        135deg,
        rgba(41, 41, 41, 0.4),
        rgba(29, 29, 29, 0.5)
      );
      box-shadow: rgba(var(--yellow), 0.017) 0px -12px 12px 0px inset,
        rgba(var(--blue), 0.015) 0px -36px 30px 0px inset,
        rgba(var(--green), 0.01) 0px -79px 40px 0px inset;

      a {
        color: var(--accent);
        text-decoration: underline;
      }

      .card-text {
        margin-bottom: 1rem;
      }

      p {
        margin: 0rem;
        position: relative;
        bottom: 0;

 
        small {
          color: var(--text);
          filter: opacity(0.8);
        }
      }

    }

    .header {
      display: flex;
      justify-content: space-between;

      a {
        background: var(--background-glass);
        padding: .3rem;
        border-radius: 100%;
        aspect-ratio: 1;
        height: 3rem;
        text-align: center;
        line-height: 2;
        margin-top: -.5rem;
        margin-right: -.5rem;

        &:hover {
          background-color: var(--faded);
        }

        i {
          font-size: 1.25rem;
        }
      }

    }
  }
}
