.language-switch {
  z-index: 98;
  position: fixed;
  right: 1rem;
  top: 1rem;  



  button {
    height: 2rem;
    background-size: cover;
    background-position: center;
    width: 3rem;
    margin: .25rem;
    border: none;
    border-radius: .3rem;
    scale: 0.5;
    filter: brightness(1.3);

    &:hover {
      scale: 0.60;
    }

  }

  .en {
    background-image: url('../assets/img/Flag_of_the_United_States.png'); 
  }

  .nl {
    background-image: url('../assets/img/Flag_of_the_Netherlands.png'); 
  }
}


.selected {
  display: none;
}

@media screen and (max-width: 700px) {

  .language-switch {
    position: absolute;
    right: 1rem;
    top: 1rem;  
  }
} 


/* app-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

*/