<div class="row">
  <h3 class="">Curriculum vitae:</h3>
  <div class="col-12 col-md-6">
    <div class="card line">
      <div class="card-body">
        <h3 class="card-title">Work Experience</h3>
        <p class="card-text">
          <span>Service Employee, Movie Unlimited, Almelo</span>
          October 2019 — October 2020
        </p>
        <p class="card-text">
          <span> Warehouse Employee, Obimex B.V., Almelo</span>
          July 2021 — February 2023
        </p>
        <p class="card-text">
          <span> Service Employee, Movie Unlimited, Almelo</span>
          March 2023 — February 2024
        </p>
        <p class="card-text">
          <span> Intern Software Developer, Moovd B.V., Nijverdal</span>
          March 2024 — {{ passed ? "June 2024" : "Present" }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card line">
      <div class="card-body">
        <h3 class="card-title">Education</h3>
        <p class="card-text">
          <span
            >HAVO (Senior General Secondary Education), Oud Erasmus,
            Almelo</span
          >
          August 2016 — July 2017
        </p>
        <p class="card-text">
          <span
            >MAVO / VMBO-TL (Lower General Secondary Education), Nieuw Erasmus,
            Almelo</span
          >
          August 2017 — June 2021
          <i><b>Degree obtained.</b></i>
        </p>
        <p class="card-text">
          <span>Software Developer, Level 4, ROC van Twente, Hengelo</span>
          August 2021 — Present
        </p>
      </div>
    </div>
  </div>
  <div class="header">
    <a href="../../../../assets/CV-JustinBottinga-2024.pdf" download="CV.pdf"
      >Download CV</a
    >
  </div>
</div>
