<div class="row">
  <div class="head">
    <h3 class="">Curriculum vitae</h3>
  </div>

  <div class="col-12 col-md-6">
    <div class="card line">
      <div class="card-body">
        <h3 class="card-title">{{"about.header.work-experience" | translate}}</h3>
        <p class="card-text">
          <span>{{'about.work-items.movie-unlimited.text' | translate}}, Movie Unlimited, Almelo</span>
          {{"oct" | translate}}  2019 — {{"oct" | translate}} 2020
        </p>
        <p class="card-text">
          <span> {{'about.work-items.obimex.text' | translate}}, Obimex B.V., Almelo</span>
          {{"jul" | translate}} 2021 — {{"feb" | translate}} 2023
        </p>
        <p class="card-text">
          <span> {{'about.work-items.movie-unlimited.text' | translate}}, Movie Unlimited, Almelo</span>
          {{"mar" | translate}} 2023 — {{"feb" | translate}} 2024
        </p>
        <p class="card-text">
          <span> {{'about.work-items.moovd.text' | translate}} Software Developer, Moovd B.V., Nijverdal</span>
          {{"mar" | translate}} 2024 — {{'jun' |translate }} 2024
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card line">
      <div class="card-body">
        <h3 class="card-title">{{"about.header.education" | translate}}</h3>
        <p class="card-text">
          <span
            >HAVO {{'about.education-items.havo.text' | translate}}, Oud Erasmus,
            Almelo</span
          >
          {{'aug' | translate}} 2016 — {{'jul' | translate}} 2017
        </p>
        <p class="card-text">
          <span
            >MAVO / VMBO-TL {{'about.education-items.mavo.text' | translate}}, Nieuw Erasmus,
            Almelo</span
          >
          {{'aug' | translate}} 2017 — {{'jun' | translate}} 2021
          <i><b>{{"degree" | translate}}</b></i>
        </p>
        <p class="card-text">
          <span
            >Software Developer, {{'about.education-items.roc.text' | translate}}, ROC van Twente, Hengelo</span
          >
          {{'aug' | translate}} 2021 — {{'present' | translate}}
        </p>
      </div>
    </div>
  </div>

  <div class="header">
    <a href="../../../../assets/CV-JustinBottinga-2024.pdf" download="CV.pdf"
      >Download CV <i class="bi bi-box-arrow-down"></i></a
    >
  </div>
</div>
